@font-face {
  font-family: 'Roboto';
  src: url("../assets/font/3966.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu {
  width: 100%;
  height: 750px;
  background-color: #f2ae4d;
}

.header {
  background-color: white;
  width: 800px;
  height: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
}

.logo_menu {
  width: 80px;
  height: 24px;
  cursor: pointer;
}

.vector {
  width: 15.03px;
  height: 16.22px;
  cursor: pointer;
  padding-top: 5px;
}

.start_your {
  height: 18px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  padding-top: 5px;
  text-decoration: underline;
  cursor: pointer;
  color: #011f3a;
}

.all_products {
  height: 18px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  padding-top: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #011f3a;
}

.inspiration {
  height: 18px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  padding-top: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #011f3a;
}

.about {
  height: 18px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  padding-top: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #011f3a;
}

.account_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90px;
}

.account {
  height: 18px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  padding-top: 5px;
  cursor: pointer;
}

.basket {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.btn_subject {
  width: 130px;
  height: 30px;
  background-color: #3d5675;
  border-radius: 44px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: white;
  border: 0px;
  cursor: pointer;
  text-transform: uppercase;
  position: fixed;
}

.block-for-title {
  width: 100%;
  height: 689px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.picture-for-title {
  display: none;
}

.text-for-title {
  width: 370px;
  height: 100px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.text_title2 {
  width: 277px;
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  position: relative;
  top: 25px;
}

.btn-for-title {
  width: 288px;
  height: 56px;
  background-color: #3d5675;
  border-radius: 44px;
  font-family: "Roboto", sans-serif;
  font-size: 1;
  font-style: normal;
  font-weight: bold;
  color: white;
  border: 0px;
  position: relative;
  top: 30px;
  cursor: pointer;
}

.icons_certificate {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 180px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  color: gray;
}

.text_shopify {
  width: 81px;
  height: 38px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.text_amazon {
  width: 67px;
  height: 38px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.text_eco {
  width: 55px;
  height: 32px;
  word-wrap: break-word;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.Products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #eeeeee;
  height: 1800px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text_for_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 57px;
}

.txt_product {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.btn_products {
  width: 247px;
  height: 44px;
  background-color: #3d5675;
  border-radius: 44px;
  font-family: "Roboto", sans-serif;
  font-size: 1;
  font-style: normal;
  font-weight: bold;
  color: white;
  border: 0px;
  cursor: pointer;
}

.tovary {
  width: 100%;
  height: 1300px;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 400px;
      grid-template-columns: 400px 400px;
  -ms-grid-rows: 432px 432px 432px;
      grid-template-rows: 432px 432px 432px;
  -ms-grid-row: 1;
  grid-row: 1px;
  background-color: white;
}

.opacity-center {
  display: none;
  width: 800px;
  height: 1300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.block_poducts_one {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  border: solid 1px #eeeeee;
}

.block_poducts_two {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  border: solid 1px #eeeeee;
}

.block_poducts_tree {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  border: solid 1px #eeeeee;
}

.block_poducts_four {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  border: solid 1px #eeeeee;
}

.block_poducts_five {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  border: solid 1px #eeeeee;
}

.block_poducts_six {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  border: solid 1px #eeeeee;
}

.name_Custom {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  padding-left: 25px;
}

.text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.text_Custom {
  width: 209px;
  height: 72px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #777777;
}

.the_cost_Custom {
  width: 81px;
  height: 24px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #a1a1a1;
}

.block_unbranded_stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 385.61px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 55px;
}

.txt_unbranded_stock {
  font-size: 15x;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #a1a1a1;
}

.btn_shop_stok {
  width: 158px;
  height: 44px;
  background-color: white;
  border-radius: 44px;
  font-family: "Roboto", sans-serif;
  font-size: 1;
  font-style: normal;
  font-weight: bold;
  color: #3d5675;
  border: 0px;
  cursor: pointer;
}

.block_for_design {
  width: 100%;
  background-color: #eeeeee;
  height: 914px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block_for_design_boxes {
  width: 100%;
  height: 774px;
  background-color: #72bda3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.heading_block_for_design {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 25px;
  color: #011f3a;
}

.picture_block_for_design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.one_picture_block {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.two_picture_block {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tree_picture_block {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.name_block_for_design {
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
  color: #011f3a;
  text-align: center;
}

.txt_one_block_for_design {
  width: 197px;
  height: 48px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 15px;
  color: #3d5675;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.txt_two_block_for_design {
  width: 152px;
  height: 48px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 15px;
  color: #3d5675;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.txt_tree_block_for_design {
  width: 196px;
  height: 48px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 15px;
  color: #3d5675;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.button_block_for_design {
  width: 220px;
  height: 44px;
  background-color: #3d5675;
  border-radius: 44px;
  font-family: "Roboto", sans-serif;
  font-size: 1;
  font-style: normal;
  font-weight: 700;
  color: white;
  border: 0px;
  cursor: pointer;
}

.block_arka_advantage {
  width: 100%;
  background-color: #eeeeee;
  height: 766px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._arka_advantage {
  width: 100%;
  height: 624px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.name_arka_advantage {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  color: #011f3a;
  padding-left: 42px;
}

.picture__arka_advantage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 42px 159.31px 177px 159.31px 177px 159.31 42px;
      grid-template-columns: 42px 159.31px 177px 159.31px 177px 159.31 42px;
}

.one_block_picture_advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.two_block_picture_advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tree_block_picture_advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading_picture_advantage {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #011f3a;
}

.text_one_picture_advantage {
  width: 246px;
  height: 72px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #a1a1a1;
}

.text_two_picture_advantage {
  width: 234px;
  height: 72px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #a1a1a1;
}

.text_tree_picture_advantage {
  width: 251px;
  height: 72px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #a1a1a1;
}

.cont_for_request {
  width: 100%;
  background-color: #eeeeee;
  height: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block_for_request {
  width: 100%;
  height: 610px;
  background-color: #ffca3a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 400px;
      grid-template-columns: 400px 400px;
  -ms-grid-rows: 100px 410px 90px;
      grid-template-rows: 100px 410px 90px;
}

.first_block_for_request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 400px;
  height: 410px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.last_block_for_request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  height: 410px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block_1_request, .block_2_request {
  width: 210px;
  height: 210px;
}

.header_1_request, .header_2_request {
  width: 338px;
  height: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

.text_1_request {
  width: 310px;
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
}

.text_2_request {
  width: 356px;
  height: 72px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
}

.btn_1_request, .btn_2_request {
  width: 204px;
  height: 44px;
  background-color: white;
  border-radius: 44px;
  font-family: "Roboto", sans-serif;
  font-size: 1;
  font-style: normal;
  font-weight: 700;
  color: #3d5675;
  border: 0px;
  cursor: pointer;
}

.block_merchants_love_Arka {
  width: 100%;
  background-color: #eeeeee;
  height: 1548px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_merchants_love_Arka {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  color: #011f3a;
}

.reviews_of_arka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 800px;
  height: 1306px;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sities_reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.googl {
  height: 185px;
}

.shop {
  height: 185px;
}

.fist_reviews_of_people, .last_reviews_of_people {
  width: 800px;
  height: 294px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 380px 5px 370px;
      grid-template-columns: 380px 5px 370px;
}

.first_image, .last_image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.first_picture_one, .next_picture_one, .first_picture_two, .next_picture_two, .first_picture_tree, .next_picture_tree {
  width: 180px;
  height: 200px;
}

.one_people, .tree_people {
  width: 370px;
  height: 294px;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.first_image, .one_people, .last_image, .tree_people {
  display: none;
}

.comment_one_people, .comment_tree_people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 370px;
}

.one_names, .tree_names {
  width: 222px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.heading_one_reviews, .heading_two_reviews, .heading_tree_reviews {
  width: 370px;
  height: 96px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn_one_people {
  width: 160px;
  height: 44px;
  background-color: #f2f2f2;
  border-radius: 44px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #3d5675;
  border: 0px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn_two_people {
  width: 160px;
  height: 44px;
  background-color: #f2f2f2;
  border-radius: 44px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #3d5675;
  border: 0px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn_tree_people {
  width: 160px;
  height: 44px;
  background-color: #f2f2f2;
  border-radius: 44px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #3d5675;
  border: 0px;
  cursor: pointer;
  text-transform: uppercase;
}

.names_of_people1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.namepeople1 {
  text-align: start;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.nikname1 {
  color: #a1a1a1;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.next_reviews_of_people {
  width: 100%;
  height: 294px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 370px 5px 380px;
      grid-template-columns: 370px 5px 380px;
}

.two_people {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 370px;
  height: 294px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.next_image {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.next_image, .two_people {
  display: none;
}

.comment_two_people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 395px;
}

.two_names {
  width: 222px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.names_of_people2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.namepeople2 {
  text-align: start;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.nikname2 {
  color: #a1a1a1;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.names_of_people3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.namepeople3 {
  text-align: start;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.nikname3 {
  color: #a1a1a1;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.lets_get_for_block {
  width: 100%;
  background-color: #eeeeee;
  height: 392px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text_and_btn_block {
  width: 488px;
  height: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.text_for_block_lets_get {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 31px;
  color: #011f3a;
}

.one_btn_lets {
  width: 220px;
  height: 44px;
  background-color: #3d5675;
  border-radius: 44px;
  font-family: "Roboto", sans-serif;
  font-size: 1;
  font-style: normal;
  font-weight: 700;
  color: white;
  border: 0px;
  cursor: pointer;
  text-transform: uppercase;
}

.two_btn_lets {
  width: 247px;
  height: 44px;
  background-color: white;
  border-radius: 44px;
  font-family: "Roboto", sans-serif;
  font-size: 1;
  font-style: normal;
  font-weight: bold;
  color: #011f3a;
  border: 0px;
  cursor: pointer;
  text-transform: uppercase;
}

.basement {
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f2f3f4;
}

.basement_about_us {
  width: 100%;
  height: 800px;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 400px;
      grid-template-columns: 400px 400px;
  -ms-grid-rows: (250px)[3];
      grid-template-rows: repeat(3, 250px);
}

.logo_basement {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.one_block_basement {
  height: 192px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.two_block_basement {
  height: 157px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tree_block_basement {
  height: 110px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.four_block_basement {
  height: 120px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.word {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #011f3a;
  text-decoration: none;
  outline: none;
}

.icons_basement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 84px;
}

.insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3d5675;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-decoration: none;
  color: white;
}

.facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3d5675;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-decoration: none;
  color: white;
}

.twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3d5675;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-decoration: none;
  color: white;
}

.btn_basement {
  width: 187px;
  height: 44px;
  background-color: #3d5675;
  border-radius: 44px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: white;
  border: 0px;
  cursor: pointer;
}

.your_email {
  width: 280px;
  height: 36px;
  border-radius: 44px;
  outline: none;
  text-indent: 10px;
}

.your_email::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  color: #b1bbc8;
  font-style: italic;
  text-indent: 10px;
}

.your_email:-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  color: #b1bbc8;
  font-style: italic;
  text-indent: 10px;
}

.your_email::-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  color: #b1bbc8;
  font-style: italic;
  text-indent: 10px;
}

.your_email::placeholder {
  font-weight: 400;
  font-size: 15px;
  color: #b1bbc8;
  font-style: italic;
  text-indent: 10px;
}

#arrow_top {
  position: relative;
  top: 40px;
  padding-left: 40px;
  cursor: pointer;
}

.img-arrow {
  width: 70px;
  height: 60px;
}
/*# sourceMappingURL=adaptive.css.map */